<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <nav
      th:fragment="header"
      class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm"
    >
      <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand fw-bold" href="/quadras"> ECOURTY </a>

        <!-- BOTÃO MOBILE -->

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menuPrincipal"
          aria-controls="menuPrincipal"
          aria-expanded="false"
          aria-label="Abrir menu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU -->

        <div class="collapse navbar-collapse" id="menuPrincipal">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/quadras"> Quadras </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/clientes"> Clientes </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/agendamentos"> Agendamentos </a>
            </li>
          </ul>

          <!-- USUÁRIO -->

          <div class="d-flex align-items-center">
            <span class="text-white me-3">
              Olá,
              <strong th:text="${usuario.nome}"></strong>
            </span>

            <a href="/logout" class="btn btn-outline-light btn-sm"> Sair </a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
